body
{
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    /* background-color: #ffffff; */
 
    background: #4A00E0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title
{
    margin-top: 80px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.title h1
{
    font-size: 35px;
    line-height: 20px;
}

.title h2
{
    font-size: 20px;
}

form
{
    margin-top: 50px;
}

.form-style
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(233, 233, 233);
    color: #fff;
    font-size: 18px;
}

input
{
    height: 45px;
}

form .submit
{
    background: #e66022;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover
{
    background: #e27542;
    cursor: pointer;
}